@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-500 
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.shadow {
  @apply dark:shadow-slate-700 dark:shadow-xl drop-shadow-lg
}
